@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #424242;
  --secondary-color: #616161;
  --component-background: rgba(255, 255, 255, 0.05);
}

body {
  background: linear-gradient(135deg, #1c1c1c, #424242);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
}
.address-truncate {
    max-width: 150px;
    overflow-x: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
.container {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(30px);
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

button {
  background: var(--primary-color);
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: 30px;
  cursor: pointer;
}

button:hover {
  background: var(--secondary-color);
}

input[type="text"] {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: 0;
  outline: 0;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.content {
  color: white;
}

.content .idea,
.content .update,
.content .grid__app {
  background: var(--component-background);
  border: 1px solid rgba(255, 255, 255, 0.1);
}